/*** HEADER ***/

.header{
    margin: 0 auto;
    position: relative;
    z-index: 1;
    background-color: $neutralWhite;
    box-shadow: 4px 4px 4px 0px rgba(194, 194, 194, 0.20);
    padding: 24px 0px;
    
    &__content{
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        height: 54px;
        margin: 0px 48px;

        &__menu{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            width: 300px;
            color: $neutralDarkGray;
            gap: 24px;
            font-size: 20px;
            font-weight: 500;
        }

        .iconSearch{
            width: 28.368px;
            margin-right: 24px;
        }

        .menuBurger {
            display: none;
            width: 32px;
            cursor: pointer;
        }

        .buttonHeader{
            margin-left: 24px;
            display: flex;
            padding: 12px 24px;
            justify-content: center;
            align-items: center;
            border-radius: 28px;
            border: 1px solid $mainColor;
            background-color: transparent;
            color: $mainColor;
            font-size: 20px;
            font-weight: 500;
        }
    }

    @media screen and (max-width: 960px) {
        &__content {
            margin: 0 24px;

            &__menu {
                justify-content: space-around;
                align-items: center;
                justify-content: center;
                width: 100%;
                font-size: 18px;
                gap: 16px;
            }

            .iconSearch {
                width: 24px;
                margin-right: 16px;
            }

            .menuBurger {
                display: none;
                width: 32px;
                cursor: pointer;
            }

            .buttonHeader {
                margin-left: 0;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }

    @media screen and (max-width: 640px) {
        &__content {
            margin: -24px 48px 24px 48px;
            height: 124px;
            width: 294px;

            &__menu {
                display: none;
                gap: 16px;
                font-size: 18px;
                width: 100%;
            }

            .iconSearch {
                width: 24px;
                margin-right: 12px;
                margin-left: 222px;
            }

            .menuBurger {
                display: block;
            }

            .iconSearch .menuBurger{
                gap: 24px;
                width: 72px;
            }

            .buttonHeader {
                margin-left: -237px;
                margin-right: 217px;
                margin-top: 114px;
                font-size: 20px;
                font-weight: 500;
                padding: 8px 16px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}