/*** HERO ***/

.hero{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    width: 1464px;

    &__content{
        width: 936px;
        margin-left: 48px;
        margin-right: 48px;

        h1{
            font-size: 64px;
            font-weight: 900;
            color: $mainColor;
            width: 696px;
        }

        p{
            font-size: 24px;
            font-weight: 400;
            color: $secondaryColor;
            margin-top: 48px;
            margin-bottom: 48px;
            width: 456px;
        }

        .buttonHero{
            display: flex;
            padding: 12px 24px;
            justify-content: center;
            align-items: center;
            border-radius: 28px;
            background-color: $mainColor;
            color: $tertiaryColorPink;
            font-size: 24px;
            font-weight: 500;
            border: none;
        }
    }

    &__img{
        width: 620px;
        margin-top: -200px;
    }
}

/*** MAIN ***/

/*** SECTION 1 ***/

.how{
    margin: 0 auto;
    justify-content: center;

    &__content{
        font-size: 56px;
        font-weight: 800;
        color: $secondaryColor;
        text-align: center;
        margin: 100px 48px;

        &__step{
            display: flex;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            gap: 24px;
            margin: 100px 48px;
            font-size: 36px;
            font-weight: 500;
            color: $secondaryColor;

            div{
                padding-left: 48px;
                padding-right: 48px;
                width: 456px;
            }

            p{
                font-size: 20px;
                font-weight: 300;
                margin-top: 48px;
                color: $neutralDarkGray;
            }
        }

        p{
            font-size: 24px;
            font-weight: 400;
            margin-top: 100px;
            margin-bottom: 24px;
        }

        .buttonHow{
            display: flex;
            margin: 0 auto;
            padding: 12px 24px;
            justify-content: center;
            align-items: center;
            border-radius: 28px;
            background-color: $mainColor;
            color: $tertiaryColorPink;
            font-size: 24px;
            font-weight: 500;
            border: none;
        }
    }
}

/*** SECTION 2 ***/

.recipes{
    margin: 0 auto;
    background-color: $tertiaryColorPink;
    padding-bottom: 100px;
    padding-top: 100px;


    &__content{
        font-size: 48px;
        font-weight: 700;
        line-height: 48px;
        color: $secondaryColor;
        text-align: center;
        
        #titre{
            margin-top: 100px;
        }

        a{
            font-size: 24px;
            font-weight: 500;
            color: $secondaryColor;
            text-align: center;
        }
        

        &__cards{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 39px;
            font-size: 24px;
            font-weight: 400;
            color: $neutralDarkGray;
            text-align: center;
            margin-bottom: 48px;
            margin-top: 48px;

            p{
                height: 72px;
            }

            div{
                width: 201px;
                justify-content: center;
                align-items: center;
            }

            &__button{
                display: flex;
                margin: 0 auto;
                gap: 12px;

                button{
                    padding: 4px 12px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 24px;
                    border: 1px solid $secondaryColor;
                    background-color: transparent;
                    color: $secondaryColor;
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }
    }
}

/*** SECTION 3 ***/

.tips{
    margin: 0 auto;
    justify-content: space-around;
    display: flex;
    
    &__content{
        font-size: 48px;
        font-weight: 700;
        line-height: 48px;
        color: $secondaryColor;
        text-align: center;
        margin: 100px 48px;
        width: 1416px;

        &__cards{
            margin-top: 48px;
            display: flex;
            text-align: left;
            gap: 0px 24px;
            width: 456px;

            .carte{
                border-radius: 24px;
                background-color: $neutralWhite;
                box-shadow: 0px 4px 4px rgba(194, 194, 194, 0.20);
            }

            &__text{
                color: $neutralDarkGray;
                font-size: 16px;
                font-weight: 300;
                margin-left: 24px;
                margin-right: 24px;

                h5{
                    font-size: 24px;
                    font-weight: 400;
                    margin-top: 24px;
                    margin-bottom: 12px;
                }

                button{
                    margin-top: 24px;
                    margin-bottom: 24px;
                    padding: 12px 24px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 28px;
                    background-color: $secondaryColor;
                    color: $neutralWhite;
                    font-size: 20px;
                    font-weight: 500;
                    border: none;
                }
            }
        }
    }
}