/*** SECTION ***/

.recipe{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 48px;
    background-color: $tertiaryColorPink;
    height: auto;

    &__chat{
        width: 100%;
        max-width: 1056px;
        height: 832px;
        padding: 0 48px;
        display: flex;
        flex-direction: column;

        &__content{
            margin-left: 64px;
            margin-top: 48px;
            display: flex;
            align-items: flex-start;
            gap: 20px;
            width: 1041px;
            flex: 1;
            overflow-y: auto;
    
            img{
                width: 48px;
            }

            &__text{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin: 0 auto;
                width: 100%;
                gap: 20px;

                &__guide{
                    background-color: $neutralWhite;
                    padding: 0px 48px;
                    border-radius: 48px 48px 48px 8px;
                    font-size: 24px;
                    font-weight: 500;
                    color: $mainColor;
                    width: 288px;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-right: 581px;
                }

                &__user{
                    background-color: $neutralWhite;
                    padding: 12px 48px;
                    border-radius: 48px 48px 8px 48px;
                    font-size: 24px;
                    font-weight: 500;
                    color: $secondaryColor;
                    width: 384px;
                    height: 36px;
                    display: flex;
                    align-items: center;
                    margin-right: 24px;
                    margin-left: 480px;
                }

                .hide{
                    display: none;
                }
            }
        }
    
        &__button{
            margin-top: auto;
            display: flex;
            justify-content: space-between;

            .back{
                padding: 12px 24px;
                justify-content: center;
                align-items: center;
                border-radius: 28px;
                border: 1px solid $mainColor;
                background-color: transparent;
                color: $mainColor;
                font-size: 20px;
                font-weight: 500;
            }

            .go{
                padding: 12px 24px;
                justify-content: center;
                align-items: center;
                border-radius: 28px;
                border: none;
                background-color: $tertiaryColorGreen;
                color: $neutralWhite;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }

    &__summary{
        margin: 48px 48px 48px 0px;
        background-color: $neutralWhite;
        padding: 24px;
        border-radius: 48px;
        width: 336px;
        height: 736px;
        font-size: 16px;
        font-weight: 300;
        color: $neutralDarkGray;
        overflow: scroll;
        scrollbar-width: none;

        p{
            margin: 0px;
        }

        .titre{
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 12px;
        }

        .time{
            display: flex;
            gap: 8px;
            align-items: center;
            margin-bottom: 24px;
        }

        &__step{
            display: flex;
            gap: 16px;
            margin-bottom: 16px;

            img{
                width: 148px;
                height: 148px;
            }

            &__text{
                flex: 1;
                display: flex;
                flex-wrap: wrap;
                margin-left: 12px;
                align-items: flex-start;
                text-align: left;
            }
        }
    }

    @media screen and (max-width: 960px) {
        flex-direction: column;
        align-items: center;
        padding: 48px;

        &__chat {
            width: 100%;
            padding: 0 24px;
            height: auto;

            &__content {
                margin-left: 0;
                margin-top: 24px;
                width: 100%;

                &__text {
                    margin: 0;
                    gap: 10px;

                    &__guide, &__user {
                        width: 100%;
                        margin-right: 0;
                        margin-left: 0;
                    }
                }
            }

            &__button {
                
                gap: 16px;
                margin-top: 796px;

                .back, .go {
                    width: auto;
                }
            }
        }

        &__summary {
            margin: 48px 48px 0px 48px;
            width: 100%;
            height: auto;
            padding: 24px;
            font-size: 14px;
            flex-direction: column;  
            justify-content: center;

            .titre {
                font-size: 20px;
            }

            .time {
                margin-bottom: 16px;
            }

            &__step {
                gap: 24px;
                flex-direction: column;

                img {
                    width: 148px;
                    height: 148px;
                }

                &__text {
                    margin-left: 0;
                    flex-direction: column;
                }

                
            }
        }
    }

    @media screen and (max-width: 640px) {
        padding: 48px;

        &__chat {
            padding: 0 24px;

            &__content {
                margin-top: 24px;

                &__text {
                    font-size: 20px;

                    &__guide, &__user {
                        font-size: 18px;
                        padding: 8px 24px;
                    }
                }
            }

            &__button {
                margin-top: 369px;

                .back, .go {
                    font-size: 18px;
                }
            }
        }

        &__summary {
            margin: 48px 48px 0px 48px;
            padding: 24px;
            font-size: 12px;
            width: 100%;
            height: auto;
            flex-direction: column;  
            justify-content: center;

            .titre {
                font-size: 18px;
            }

            .time {
                margin-bottom: 12px;
            }

            &__step {
                gap: 24px;
                flex-direction: column;

                img {
                    width: 135px;
                    height: 135px;
                }

                &__text {
                    font-size: 12px;
                    flex-direction: column;
                }
            }
        }
    }
}